/*General Styling*/
* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(119, 164, 237);
}

/*High Score styling*/
header {

}

#highscores {
    position: absolute;
    margin: 1em;
}

/*Timer Styling*/
#timer {
    position:absolute;
    margin: 1em;
    right: 1em;
    font-weight: bolder;
    font-size: 1.5em;
}

/*Start-quiz question styling*/
#openingscreen {
    width:fit-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 2em;
    text-align: center;
    display: table;
    flex-direction: column; 
    display:none;  
}

/*Question box styling*/
.question {
    position: absolute;
    width:70%;
    margin:15%;
    text-align: left;
    margin-top: 10%;
}

#questionTitle {
    margin-left: 2em;
}

.answers {
    text-align: left;
    list-style-position: inside;
    font-size: 1.3em;
}

.answeritem {
    text-align: left;
    margin: 1em;
}

/*Individual stylings for each question box*/

#question1 {
    display:none;
}

#question2 {
    display:none;
}

#question3 {
    display:none;
}

#question4 {
    display:none;
}

#question5 {
    display:none;
}

#question6 {
    display:none;
}


/*Button styling*/
button {
    background-color: rgb(75, 180, 121);
    border-radius: 2px;
    border: none;
}

button:hover {
    background-color: rgb(48, 111, 75);
}

/*Highscore submission styling*/
.scoresubmission {
    width:fit-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 2em;
    text-align: center;
    display: table;
    flex-direction: column;   
    display:none;
}

.entry {
    width: 50%;
    margin: auto;
}

label {
    display: inline-block;
    width:100px;
    text-align: right;
    margin-right:.5em;
}

input {
    background-color: rgb(49, 67, 96);
    outline: none;
    border: none;
    margin: .5em;
    color: white;
}
